<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
              rel="stylesheet" />
    </head>
    <body>

        <div th:replace="/fragments/header :: header">

        <div class="container">
            <div class="card my-5">
                <div class="card-body">
                    <h3 class="card-title">Cadastro de Words</h3>
                    <form method="post">
                        <label>Word Reference</label> 
                        <input type="text" value="" name="wordReference">

                        <label>Meaning</label> 
                        <input type="text" value="" name="mainMeaning">

                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>

        <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="webjars/jquery/3.4.1/jquery.min.js"></script>

    </body>
</html>
