<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../webjars/bootstrap/4.3.1/css/bootstrap.min.css"
              rel="stylesheet" />
    </head>
    <body>

        <div th:replace="/fragments/header :: header">
            
        <div class="container">
            <div class="row">
                <div class="card my-5 w-100">
                    <div class="card-body">
                        <h3 class="card-title">English Words for conversations</h3>
                        <div th:each="word : ${word}">
                            <p>ID: <span th:text="${word.id}"></span></p>
                            <p>Word: <span th:text="${word.wordReference}"></span></p>
                            <p>Meaning: <span th:text="${word.mainMeaning}"></span></p>
                        </div>
                    </div>
                </div>		
            </div>
            
            <div th:replace="validations :: alert (type='danger', message=${flashMessage})"></div>
            
            <div class="row">                
                <form method="post">
                    <input type="text" value="" name="meaningOption">                    
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>                
            </div>
            <div class="row">
                <div class="card my-5 w-100">
                    <div class="card-body">
                        <h3 class="card-title">Meanings</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Word</th>
                                </tr>
                            </thead>    
                            <tbody>
                                <tr th:each="meaning : ${meanings}">
                                    <td><span th:text="${meaning.id}"></span></td>
                                    <td><span th:text="${meaning.meaningOption}"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>		
            </div>
        </div>

        <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="webjars/jquery/3.4.1/jquery.min.js"></script>

    </body>
</html>