<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../webjars/bootstrap/4.3.1/css/bootstrap.min.css"
              rel="stylesheet" />
    </head>
    <body>

        <div th:replace="/fragments/header :: header"></div>

        <div class="container">
            
            <div class="row">
                <div th:if="${flashMessage != null}" class="col-md-12">
                    <div th:replace="validations :: alert (type=${flashType}, message=${flashMessage})"></div>
                </div>   
                <div class="card my-5 w-100 col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">English Words for conversations</h3>
                        <form method="post" th:action="@{/update-word}">
                            <input type="text" name="wordReference" class="form-control" th:field="${word.id}">
                            <div th:each="word : ${word}">                                
                                <div class="form-group">
                                    <label for="wordReference">Word Reference</label> 
                                    <input type="text" name="wordReference" class="form-control" th:field="${word.wordReference}" autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="mainMeaning">Meaning</label> 
                                    <input type="text" name="mainMeaning" class="form-control" th:field="${word.mainMeaning}">
                                </div>
                            </div>    
                            <button class="btn btn-primary" type="submit">Update Word</button>
                        </form>                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-12 mt-5">
                        <h4>Other Meanings</h4>
                        <form method="post">
                            <input type="text" value="" name="meaningOption" class="w-100 mb-3">
                            <button class="btn btn-primary btn-sm" type="submit">Save Meaning</button>
                        </form>                
                    </div>
                    <div class="col-12">
                        <div class="card my-2 w-100">
                            <div class="card-body">                                
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Word</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>    
                                    <tbody>
                                        <tr th:each="meaning : ${meanings}">
                                            <td><span th:text="${meaning.meaningOption}"></span></td>
                                            <td><a th:href="${(#mvc.url('WC#removeMeaning').arg(0, meaning.id)).build()}"><span>Remove</span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>		
                    </div>
                </div>
            </div>         

        </div>

        <div th:replace="/fragments/footer :: footer"></div>
    </body>
</html>