<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
              rel="stylesheet">
    </head>
    <body>        
        <div th:replace="/fragments/header :: header"></div> 
        <div class="container my-3">
            <h3 class="py-3">All Words</h3>
            <table class="table border">
                <thead>
                    <tr>
                        <th>Word</th>
                        <th>Meaning</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="word : ${words}">
                        <td><a th:href="${(#mvc.url('WC#detailWord').arg(0, word.id)).build()}"><span th:text="${word.wordReference}"></span></a></td>
                        <td><span th:text="${word.mainMeaning}"></span></td>
                        <td><a th:href="${(#mvc.url('WC#removeWord').arg(0, word.id)).build()}"><span>Remove</span></a></td>
                    </tr>
                </tbody>
            </table>
        </div>      
    </body>
</html>