<!DOCTYPE html>
<html>
    <head>        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navbar navbar-expand-md navbar-light bg-light" th:fragment="header">
            <a class="navbar-brand" href="/">Fabriciojf English Words</a>
            <button class="navbar-toggler" type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarNav" 
                    aria-controls="navbarNav" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul sec:authorize="!isAuthenticated()" class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list-words">Login</a>
                    </li>
                </ul>
                <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto"> 
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add-word">Add Words</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list-words">List Words</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="/print-words">Print Words</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>    
            </div>
        </div>
    </body>
</html>
